
h1,h2,h3,h4,h5,p{
    font-family: 'Merriweather', serif;
  }
  
    h1 {
      font-family: 'Knewave', cursive;
    }
  
    h5{
      font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      letter-spacing: 2.5px;
      -webkit-text-transform: uppercase;
      text-transform: uppercase;
    }
  
    h6{
      letter-spacing: 2.5px;
      -webkit-text-transform: uppercase;
      text-transform: uppercase;
      font-weight: 600;
    }
  
    p{
      font-size: 15px;
      color: #666;
    }
  
  .round{
    border-radius: 5px;
  }
  
  .text-light{
    color: #666;
  }
  
  .button{
    background-color: #333;
  }
  
  .button:hover{
    background-color: #111;
  }
  
  a{
    color: #333;
  }
  
  a:hover{
    color: #111;
  }
  
  .image{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 1rem;
    border: solid 4px #fefefe;
    border-radius: 0;
    box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
    line-height: 0;
  }
  
  .portfolio-me{
    padding: 20px;
    /* background: #121213; */
    background-color: #e2c9be;
    background-image: linear-gradient(200deg, #e2c9be 20%, #fdf7f7 74%);
  
    color: #fff;
    box-shadow: none !important;
  }
  
    .portfolio-me p{
      font-size: 14px;
      color: #999;
    }
  
    .portfolio-me a{
      font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-weight: 600;
      color: #555;
      font-size: 13px;
      letter-spacing: 2.5px;
      -webkit-text-transform: uppercase;
      text-transform: uppercase;
    }
  
    .portfolio-me a:hover{
      color: #999;
    }
  
  .portfolio-breadcrumb{
    margin: 0;
    padding: 20px;
    border-bottom: 1px solid #eaeaea;
  }
  
   .portfolio-breadcrumb a{
     font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
     font-weight: 600;
     font-size: 13px;
     letter-spacing: 2.5px;
     -webkit-text-transform: uppercase;
     text-transform: uppercase;
   }
  
  .portfolio-intro{
    margin: 0;
    padding: 40px 50px 30px;
  }
  
  .portfolio-intro p{
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 40px;
  }
  
  .portfolio-index{
    margin: 0;
    padding: 10px 50px;
  }
  
    .portfolio-index .thumbnail{
      margin-bottom: 5px;
    }
  
    .portfolio-index a{
      color: #222;
    }
  
    .portfolio-index .cell{
      margin-bottom: 15px;
    }
  
      .portfolio-index .cell h5{
        letter-spacing: 1px;
      }
  
  /* .portfolio-meta{
    padding-left: 20px;
  }
   */
    .portfolio-meta .button{
      margin-bottom: 5px;
    }
  
  .portfolio-project p{
    border: none;
  }
  
  .portfolio-project li{
    font-size: 13px;
    color: #444;
  }
  
  .portfolio-bio{
      line-height: 25px;
  }
  
  /* Error page */
  .error-content {
    text-align: center;
  }
  .error-heading {
    margin: 10px;
    display: inline;
  }
  
  .error-image {
    display: block;
    border-radius: 10px;
    width: 230px;
    margin: 10px auto;
  }
  
  .error-body {
    border: 1px black solid;
    margin: 20px;
    padding: 5px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  
  /*style changes*/
  .button {
    text-align: left;
    padding: 5px;
  }
  
  .small{
    width: 24%;
    margin-bottom: 17px;
    display: block;
    position: absolute;
    bottom: 0;
  }
  
  .smaller{
    /* width: 50%; */
    position: absolute;
    right: 0;
    padding-right: 8px;
    vertical-align: middle;
  }
 
  .card-img-top{
    width:100%;
    height:auto;
  }

  /*  */
  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .content {
    padding: 13px 18px;
    display: none;
    overflow: hidden;
    background-color: #e2c9be;
    color:white !important;
  }